* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg {
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  color: white;
  height: 120vh;
}
.header-title {
  text-align: center;
}

.main-container {
  width: 70vw;
  height: 100vh;
  margin: auto;
  color: white !important;
}
.icon-cont {
  margin-left: 0%;
}
